.features {
    width: 100%;
    height: auto;
    background: #616161;
    padding: 50px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: "Poppins", sans-serif;

    h2 {
        color: white;
        font-size: clamp(4.3rem, 4vw, 3.4rem);
       
    }

    p {
        color: white;
    }

    .icons {
       
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px 0;

        .icons_blok {
            width: calc(100% / 5);
            min-width: 200px;
            height: 150px;
           
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            color: white;
            font-weight: 500;
            font-size: 20px;



        }
    }
}