.footer {
    width: 100%;
    height: auto;
    padding: 50px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    gap: 20px;
    color: #000 !important;

    .social {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        a {
            color: #000 !important;

            width: 38px;
            height: 38px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            svg {
                width: 30px;
                height: 30px;
            }

            &:hover {
                svg {
                    fill: grey;
                }
            }
        }
    }

    p {
        >a {
            color: black;
        }
    }
}